%h1 ユーザーリスト

%table
  %thead
    %tr
      %th 名前
      %th メールアドレス

  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email

%br

= link_to '新規登録', new_user_path unless @current_user
